/*Variables*/
$theme-color : black;
$div-color : skyblue ,forestgreen;

html , body{
    margin: 0;
    padding: 0;
}

@mixin flexGuy($direction){

    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.container{
    @include flexGuy(column);
    background-color: whitesmoke
}


@mixin styleDiv($position , $div-color){

    #{$position} {
        @include flexGuy(column);
        font-family: fantasy;
        background-color: $div-color;
        width: 80%;
        padding: 2rem;
        gap: 0.5rem;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        font-size: 3rem;
        color : white;
        flex-shrink: unset;

        button{
            padding: 0.5rem 1rem;
            background-color: white;
            border: 1px solid white;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;

            &:hover{
                background-color: $div-color;
                color:white;
            }


            }
        }
 
}



@for $icount from 1 through 10 {
    $position: ".block#{$icount - 1}";

    @if(($icount)%2 == 0){
       @include styleDiv($position , nth($div-color , 1));
    }@else{
       @include styleDiv($position ,   nth($div-color, 2));
    }

 } 
    




